{% extends 'base.html' %}

{% block title %} Glasses {% endblock %}

{% block body %}

<div id="page">
    <div class="container">
        <div class="img">
            <img width="300" src="{{ url_for('static',filename='img/xiaomismartglasses.png') }}" alt="">
        </div>
        <div class="info">
            <div class="name">XSMART GLASSES</div>
            <div class="description">
                <p>Smart glasses have considerable potential to distract the wearer, which could increase the danger to themselves and others, especially while driving.
                    Functional Near-Infared (FNIR) sensor to measure the oxygenation levels in the prefrontal cortex, which is the part of the brain responsible for decision making, among other behaviors. The oxygen levels observed in individuals using Google Glass indicated that their cognitive workload was lower--that is, that it was less mentally taxing for participants to use Google Glass versus Google Maps.
                    the individuals who used Xiaomi Glass appeared to be more prone to ignore other aspects of their surroundings and focus on the display, in a phenomenon known as "cognitive tunneling."
                    use optical waveguide technology for lens display capabilities---light output as high as 2 million nits---can take photos---used to translate a script
                </p>
                
            ...<a href="/glass">Know More</a></div>
        </div>
    </div>
</div>
{% endblock %}