{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block body %}

<div id="page">
    <div class="container">
        <div class="img">
            <img  width="300" src="{{ url_for('static',filename='img/pill_exploded.png') }}" alt="">
        </div>
        <div class="info">
            <div class="name">NEURALINK</div>
            <div class="description">
                <p> curing blindness by implanting in visual cortex can store memories directly by the neuralink
                    SURGERY: LESS THAN AN HOUR, LEAVE HOSPITAL SAME DAY, WITHOUT ANESTHESIA, Currently, the main concern for Neuralink is its chip's vulnerability to hacks and malicious attacks. This particular problem will be a massive cause of concern for its users and the company because of 'digital death.
                    Memory loss, brain damage, depression, anxiety and addiction are among the many other problems that Musk hopes Neuralink could solve with this new technology. He hopes that this technology would help us create a symbiotic relationship with AI.
                    
                </p>

            ...<a href="product.html">Know More</a></div>
        </div>
    </div>
    <div class="container">
        <div class="img">
            <img width="300" src="{{ url_for('static',filename='img/xiaomismartglasses.png') }}" alt="">
        </div>
        <div class="info">
            <div class="name">XSMART GLASSES</div>
            <div class="description">
                <p>Smart glasses have considerable potential to distract the wearer, which could increase the danger to themselves and others, especially while driving.
                    Functional Near-Infared (FNIR) sensor to measure the oxygenation levels in the prefrontal cortex, which is the part of the brain responsible for decision making, among other behaviors. The oxygen levels observed in individuals using Google Glass indicated that their cognitive workload was lower--that is, that it was less mentally taxing for participants to use Google Glass versus Google Maps.
                    the individuals who used Xiaomi Glass appeared to be more prone to ignore other aspects of their surroundings and focus on the display, in a phenomenon known as "cognitive tunneling."
                    use optical waveguide technology for lens display capabilities---light output as high as 2 million nits---can take photos---used to translate a script
                </p>
                
            ...<a href="product.html">Know More</a></div>
        </div>
    </div>
    <div class="container">
        <div class="img">
            <img width="300" src="{{ url_for('static',filename='img/nano.jpg') }}" alt="">
        </div>
        <div class="info">
            <div class="name">NANO-ROBOTS</div>
            
            <div class="description">
            <p> Nanorobots and nano sized robots that can be implanted in the body to facilitate the functioning of a work.</p>
            <br>
            <p>Nanorobots can be used to implant it in our blood stream to cure damged dna cells that play a major role in the mental and physical appearance of the body</p>
            <br>
            <p>
                Implanted nanorobots attach themselves to yet a premature DNA strand, working on fixing a genetic deficiency, thus helping the special abled to do tasks like normal people and avoid the risk to live in a racial and discriminated community
            </p>
                
            ...<a href="product.html">Know More</a></div>
        </div>
    </div>
    <div class="container">
        <div class="img">
            <img width="300" src="{{ url_for('static',filename='img/nose.png') }}" alt="">
        </div>
        <div class="info">
            <div class="name">OLFACTORY SENSORS</div>
            <div class="description">
                <p>With an increase in population the ratio of people losing the strength of their sensory feelings increases, although with an advancement in technology we have come up with a brilliant idea.</p>
                <br>
                <p>Electrodes are used in the nostrils to deliver weak electrical currents above and behind the nostrils, where these neurons are found.</p>
                <br>
                <p>Wearable devices that can be implanted in the nostrils or also as fashionable wearables can be used to mimic the impulses in the nostrils to deliver further sending short elictrical impulses to the brain through neurons tricking it into thinking that its smelling something. </p>
                
                ...<a href="product.html">Know More</a></div>
        </div>
    </div>
</div>

{% endblock %} 