{% extends 'base.html' %}

{% block title %} Glasses {% endblock %}

{% block body %}

<div id="page">
    <div class="container">
        <div class="img">
            <img width="300" src="{{ url_for('static',filename='img/nano.jpg') }}" alt="">
        </div>
        <div class="info">
            <div class="name">NANO-ROBOTS</div>
            
            <div class="description">
            <p> Nanorobots and nano sized robots that can be implanted in the body to facilitate the functioning of a work.</p>
            <br>
            <p>Nanorobots can be used to implant it in our blood stream to cure damged dna cells that play a major role in the mental and physical appearance of the body</p>
            <br>
            <p>
                Implanted nanorobots attach themselves to yet a premature DNA strand, working on fixing a genetic deficiency, thus helping the special abled to do tasks like normal people and avoid the risk to live in a racial and discriminated community
            </p>
                
            ...<a href="/nanobots">Know More</a></div>
        </div>
    </div>

</div>
{% endblock %}