
#Top{
    color: #5555559c;
    width: 100%;
    height: 6em;
    background-color: #ffffffde;
    text-align: center;
    padding: 2em;
    border-bottom: 2px solid #dadada59;
    font-size:medium;
    flex-direction: row;
    display: flex;  
    padding-right: 10em;
}

#leftTop {
    flex: 1;
}
#rightTop {
    flex: 1;
}


.navbarl {
    display: flex;
    align-items: right;
    width:  50%;
    flex: 1;
    flex-direction: row;    
}

.nav {
    display: flex;
    flex: 1;
    justify-content: right;
    align-items:center;
}


body{
    background-color: #fafafa
}

#page {
    padding-top: 5em;
    text-align: center;
    padding: 2em;
    flex-direction: column;
    display: flex; 
}

.container {
    background-image: linear-gradient(rgb(241, 241, 241) , rgb(236, 236, 236));
    border-bottom: 2px solid #dadada59;
    border-radius: 10px;
    margin-top: 3em;
    flex-direction: row;
}

.name {
    flex: 1;
}

.info {
    flex: 1;
}